<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <bean id="permissionChecker" class="com.xpinjection.patterns.proxy.PermissionChecker"/>

    <bean id="orderService" class="com.xpinjection.patterns.proxy.canonical.RealOrderService"/>

    <aop:config>
        <aop:aspect id="checkPermissions" ref="permissionChecker" order="1">
            <aop:before method="checkPermission" arg-names="order"
                        pointcut="execution(public * com.xpinjection.patterns.proxy.canonical.*Service.*(..)) and args(order, ..)"/>
        </aop:aspect>
    </aop:config>
</beans>